<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
    {% endblock head %}
</head>

<body>
    <header id="top">
        <h1> <strong>CODING DOJO</strong> SILESIA </h1>
        <img src="{{ SITEURL }}/theme/images/logo-white.png" alt="white logo" />
        <h2> 
            <span>Kopalnia</span> 
            <span>Dobrego</span>
            <span>Kodu_</span>
        </h2>
    </header>
    <nav id="menu" class="menu">
        <ul>
            <li class="logo">
                <img src="{{ SITEURL }}/theme/images/logo.png" alt="logo" />
            </li>
            {% for title, link in LINKS %}
            <li>
                <a href="{{ link }}">{{ title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <section id="content">
    {% block content %}
    {% endblock %}
    </section>
    <footer id="foot">
        <div class="flex-row-space-around"> 
        <nav class="menu">
            <ul>
                {% for title, link in LINKS %}
                <li>
                    <a href="{{ link }}">{{ title }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="info">
            <span>framework <a href="http://getpelican.com/">Pelican</a>, </span>
            <span>Designed by KAVA, </span>
            <span>Coded by Firemark </span>
        </div>
        </div>
    </footer>
</body>
</html>
