<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
    {% endblock head %}
</head>

<body>
    <header id="top">
        <h1> <strong>CODING DOJO</strong> SILESIA </h1>
        <img src="{{ SITEURL }}/theme/images/logo-white.png" alt="white logo" />
        <h2> 
            <span>Kopalnia</span> 
            <span>Dobrego</span>
            <span>Kodu_</span>
        </h2>
    </header>
    <nav id="menu">
        <ul>
            <li class="logo">
                <img src="{{ SITEURL }}/theme/images/logo.png" alt="logo" />
            </li>
            {% for title, link in LINKS %}
            <li>
                <a href="{{ link }}">{{ title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer id="foot">
        <address>
            Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
            which takes great advantage of <a href="http://python.org">Python</a>.
            Tutaj jeszcze walniemy firmę igora i ludzi co kodzili w htmlu
        </address>
    </footer>
</body>
</html>
