:root {
    --bg: white;
    --fg: black;
    --red: #D72A32;
}

* { margin: 0; padding: 0; }

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg);
    color: var(--fg);
    font-size: 18px;
}

#top {
    width: 100%;
    height: 348px;
    background-image: url("../images/top.png");
    background-position: top center;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top h1 {
    color: var(--bg);
    padding-top: 50px;
    padding-bottom: 47px;
    font-size: 45px;
}

#top h1 strong {
    font-size: 58px;
}

#top h2 {
    font-size: 35px;
    text-transform: uppercase;
    display: flex;
    position: relative;
    flex-direction: column;
    top: -70px;
    left: 240px;
    line-height: 30px;
}

#menu {
    margin: auto;
    display: table;
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 20px;
}

#menu ul, #menu li, #menu {
    border: var(--fg) 2px solid;
}

#menu ul {
    display: table-row;
}

#menu li {
    display: table-cell;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    height: 75px;
    width: 145px;
}

#menu li.logo {
    width: 75px;
    height: 75px;
}

#menu a {
    color: var(--fg);
    text-decoration: none;
}

#content > section {
    width: 100%;
}

#content > section .col-2-1 {
    vertical-align: top;
    display: inline-block;
    width: 450px;
}

#content > section .col-2-2 {
    vertical-align: top;
    display: inline-block;
    margin-left: 100px;
    width: 450px;
}

#content .left {
    text-align: left;
}

#content > section > div {
    width: 1200px;
    margin: auto;
    padding: 0 20px;
}

#content > section.red {
    background-color: var(--red);
    color: var(--bg);
}

#content > section.red:after {
    content: ' ';
    display: block;
    background-image: url("../images/red-bar.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 32px;
    position: relative;
    top: 16px;
    margin-bottom: 40px;
}

#content > section.red:before {
    content: ' ';
    display: block;
    background-image: url("../images/red-bar.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 32px;
    position: relative;
    top: -16px;
    margin-top: 40px;
}

#content > section.pattern {
    background-image: url("../images/pattern.png");
}

#content p+p {
    margin-top: 50px;
}

#content h1 {
    font-size: 28px;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 20px;
}

#content img.border {
    border: var(--fg) 2px solid;
}

#content > section.red img.border {
    border: var(--bg) 2px solid;
}

#content li {
    margin-top: 50px;
}

table {
    display: table;
    border-collapse: collapse;
}

th, td {
    border: var(--fg) 2px solid;
}

td.without-border {
    border: none;
}

td, th {
    vertical-align: center;
    padding: 16px;
}


section.red tr, section.red th, section.red td {
    border: var(--bg) 2px solid;
}

a.btn {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    width: 210px;
    margin: 32px;
    padding: 16px 0;
    font-size: 20px;
    background-color: var(--fg);
    color: var(--bg);
}

section.red a.btn {
    background-color: var(--bg);
    color: var(--red);
}

.flex-row {
    display: flex;
    flex-direction: flex-row;
    justify-content: center;
}

.flex-row-space-around {
    display: flex;
    flex-direction: flex-row;
    justify-content: space-around;
}
